---
import Asterisk from "./Asterisk.astro";
import ArrowRight from "./ArrowRight.astro";
import Plus from "./Plus.astro";
import ArrowBoth from "./ArrowBoth.astro";
import ArrowBothShort from "./ArrowBothShort.astro";

import * as m from "@/paraglide/messages";
---

<div class="flex items-center gap-1 text-flatgray2">
	<span class="animatedDividerText whitespace-nowrap">{m.lazy_born_gadfly_work()}</span>
	<span class="pb-1">
		<Asterisk />
	</span>
	<span class="animatedDividerText whitespace-nowrap">{m.acidic_factual_angelfish_charm()}</span>
	<span class="pb-1">
		<ArrowRight />
	</span>
	<span class="pb-1">
		<Asterisk />
	</span>
	<span class="animatedDividerText whitespace-nowrap">{m.tame_slimy_angelfish_pray()}</span>
	<span class="pb-1 text-flatviolet">
		<ArrowBothShort />
	</span>
	<span class="animatedDividerText whitespace-nowrap">{m.this_east_lemming_quiz()}</span>
	<span class="pb-1">
		<Asterisk />
	</span>
	<span class="animatedDividerText whitespace-nowrap">{m.knotty_sea_shrike_scoop()}</span>
	<span class="pb-1">
		<Plus />
	</span>
	<span class="animatedDividerText whitespace-nowrap">{m.acidic_factual_angelfish_charm()}</span>
	<span class="pb-1">
		<ArrowRight />
	</span>
	<span class="animatedDividerText whitespace-nowrap">{m.teal_loved_fireant_trim()}</span>
	<span class="pb-1">
		<Asterisk />
	</span>
	<span class="pb-1">
		<ArrowBoth />
	</span>
</div>

<script>
	import gsap from "gsap";
	const text = gsap.utils.toArray(".animatedDividerText") as HTMLElement[];

	const animateTextHighlight = () => {
		const visibleTextNumber = Math.ceil(window.innerWidth / 164);

		const groups = Math.floor(text.length / visibleTextNumber);

		for (let i = 0; i < groups; i++) {
			const seq = gsap.utils.shuffle(
				text.slice(i * visibleTextNumber, (i + 1) * visibleTextNumber),
			);

			const t = gsap.timeline({ repeat: -1 });
			seq.forEach((el, index) => {
				t.to(el, {
					keyframes: [
						{ color: "hsl(60 1.33% 14.71%)", duration: 1 },
						{
							color: "rgb(161, 161, 161)",
							duration: 1,
							delay: gsap.utils.random(0.5, 2),
						},
					],
					delay: () => gsap.utils.random(1, 2),
				});
			});
		}
	};

	animateTextHighlight();
</script>
