---
import * as m from "@/paraglide/messages";
---

<!-- text part on left -->
<div
	id="processLeft"
	aria-live="polite"
	aria-atomic="true"
	class="relative flex max-h-full flex-1 flex-col items-stretch justify-stretch">
	<div class="flex flex-col gap-6 p-6">
		<p class="text-sm leading-[1.5] md:text-base md:leading-[1.8]">
			{m.wild_full_racoon_relish()}
			<span class="text-flatdarkviolet">{m.salty_misty_marten_peek()}</span>{
				m.legal_stock_ostrich_agree()
			}
			<span class="text-flatdarkblue">{m.mad_royal_skunk_hug()}</span>{
				m.short_proud_bird_bend()
			}
		</p>
		<div
			class="text-sm font-normal text-muted-foreground md:text-base 2xl:text-primary/85">
			<ul class="flex list-disc flex-col gap-3 pl-2 sm:pl-4">
				<li class="sm:pl-2">
					{m.salty_red_raven_soar()}
				</li>
				<li class="sm:pl-2">
					{m.game_neat_pug_dart()}
				</li>
				<li class="sm:pl-2">
					{m.aware_wacky_eel_cry()}
				</li>
			</ul>
		</div>
	</div>

	<div class="hidden flex-col gap-6 p-6 opacity-0">
		<p class="text-sm leading-[1.5] md:text-base md:leading-[1.8]">
			{m.deft_swift_jannes_hunt()}
			<span class="text-flatdarkred">{m.noisy_bold_puffin_read()}</span>
			{m.stout_active_dog_grow()}
		</p>
		<div
			class="text-sm font-normal text-muted-foreground md:text-base 2xl:text-primary/85">
			<ul class="flex list-disc flex-col gap-3 pl-2 sm:pl-4">
				<li class="sm:pl-2">
					{m.light_drab_hare_hush()}
				</li>
				<li class="sm:pl-2">
					{m.watery_few_mammoth_surge()}
				</li>
			</ul>
		</div>
	</div>
	<div class="hidden flex-col gap-6 p-6 opacity-0">
		<p class="text-sm leading-[1.5] md:text-base md:leading-[1.8]">
			{m.mad_sad_rat_edit()}
			<span class="text-flatdarkgreen">{m.heavy_major_quail_splash()}</span>
			{m.sleek_muddy_snail_clap()}
		</p>
		<div
			class="text-sm font-normal text-muted-foreground md:text-base 2xl:text-primary/85">
			<ul class="flex list-disc flex-col gap-3 pl-2 sm:pl-4">
				<li class="sm:pl-2">
					{m.crazy_main_impala_pinch()}
				</li>
				<li class="sm:pl-2">
					{m.royal_slow_earthworm_bubble()}
				</li>
			</ul>
		</div>
	</div>
	<div class="hidden flex-col gap-6 p-6 opacity-0">
		<p class="text-sm leading-[1.5] md:text-base md:leading-[1.8]">
			{m.last_least_stork_endure()}
			<span class="text-flatdarkviolet">{m.tired_legal_blackbird_launch()}</span
			>
		</p>
		<div
			class="text-sm font-normal text-muted-foreground md:text-base 2xl:text-primary/85">
			{m.solid_trick_eagle_inspire()}
		</div>
	</div>
</div>
