---
import { Image } from "astro:assets";
import Img1 from "@/assets/img1.svg";

import * as m from "@/paraglide/messages";
import { cn } from "@/lib/utils";

const isBahasa = Astro.locals.paraglide.lang === "id";
---

<!-- img part on right -->
<div
	id="processRight"
	class={cn(
		"relative order-first flex aspect-video w-full flex-1 items-center justify-center overflow-hidden 2xl:max-w-[40%]",
		!isBahasa &&
			"md:sticky md:top-0 md:order-last md:aspect-auto md:max-h-full md:max-w-[35%] max-h-[170px]",
		isBahasa &&
			"lg:sticky lg:top-0 lg:order-last lg:aspect-auto lg:max-h-full lg:max-w-[35%] max-h-[170px] md:max-h-[220px]",
	)}>
	<div
		class={cn(
			"absolute block h-full w-[calc(100%_-_3rem)] pt-6 will-change-transform",
			!isBahasa && "md:w-full md:pt-0",
			isBahasa && "lg:w-full lg:pt-0",
		)}>
		<Image
			src={Img1}
			alt={m.calm_such_weasel_twist()}
			class="size-full rounded-xl object-cover object-center"
		/>
	</div>
	<div
		class={cn(
			"absolute block h-full w-[calc(100%_-_3rem)] pt-6 will-change-transform",
			!isBahasa && "md:w-full md:pt-0",
			isBahasa && "lg:w-full lg:pt-0",
		)}>
		<Image
			src={Img1}
			alt={m.late_wacky_haddock_succeed()}
			class="size-full rounded-xl object-cover object-center"
		/>
	</div><div
		class={cn(
			"absolute block h-full w-[calc(100%_-_3rem)] pt-6 will-change-transform",
			!isBahasa && "md:w-full md:pt-0",
			isBahasa && "lg:w-full lg:pt-0",
		)}>
		<Image
			src={Img1}
			alt={m.fluffy_close_weasel_sing()}
			class="size-full rounded-xl object-cover object-center"
		/>
	</div><div
		class={cn(
			"absolute block h-full w-[calc(100%_-_3rem)] pt-6 will-change-transform",
			!isBahasa && "md:w-full md:pt-0",
			isBahasa && "lg:w-full lg:pt-0",
		)}>
		<Image
			src={Img1}
			alt={m.stale_key_sawfish_pray()}
			class="size-full rounded-xl object-cover object-center"
		/>
	</div>
</div>
