---
import { cn } from "@/lib/utils";
import AnimatedDivider from "../../AnimatedDivider/AnimatedDivider.astro";
import AnimatedText from "../../AnimatedText/AnimatedText.astro";
import ArrowRightDown from "../../ui/ArrowRightDown.astro";
import DoubleGear from "../../ui/DoubleGear.astro";
import LandingImg from "../../ui/LandingImg.astro";

import * as m from "@/paraglide/messages";
import GeometrySquare from "../../ui/GeometrySquare.astro";

const isBahasa = Astro.locals.paraglide.lang === "id";
---

<!-- landing section -->
<section
	class={cn("fadeinAnimation pt-24 md:pt-48", isBahasa && "sm:pt-48")}
	aria-details="landingSectionDetails">
	<div
		id="schemaMarkupMain"
		class={cn(
			"flex flex-col items-stretch justify-between gap-[60px] [grid-row-gap:25px]",
			!isBahasa && "lg:flex-row",
			isBahasa && "xl:flex-row",
		)}>
		<h1
			class={cn(
				"flex-[2] text-4xl leading-[1.2] sm:text-[9vw] lg:text-[6vw] 3xl:text-[130px]",
				isBahasa &&
					"text-2xl sm:text-[6vw] xl:text-[4vw] 2xl:text-[4.2vw] 3xl:text-[100px] leading-[1.4] tracking-tight",
			)}>
			<span class={cn("sm:whitespace-nowrap", isBahasa && "relative")}
				>{m.tasty_wide_toad_renew()}
				<span
					class={cn(
						"inline-block aspect-square w-[36px] translate-y-2 sm:w-[9vw] lg:w-[6vw] 3xl:w-[130px]",
						isBahasa && "hidden",
					)}>
					<GeometrySquare />
				</span>
			</span><br /><span class="sm:whitespace-nowrap"
				>{m.pretty_sweet_butterfly_dart()}</span
			>
		</h1>
		<div
			class="flex min-w-[300px] flex-1 shrink-0 flex-col items-start py-4 sm:max-w-[60vw] xl:max-w-full">
			<div
				class="pb-8 uppercase leading-[1.7] opacity-80"
				id="landingSectionDetails">
				<AnimatedText>Stable Studio</AnimatedText>
				{m.active_calm_felix_sway()}
			</div>

			<a class="flex items-center gap-1" href="#process">
				<span class="-mt-1 block size-3 stroke-2 text-black">
					<ArrowRightDown />
				</span>
				<span
					class="group relative inline-flex items-center justify-center overflow-hidden">
					<span
						class="translate-y-0 transition duration-300 group-hover:translate-y-[100%]">
						{m.every_late_squid_revive()}
					</span>
					<span
						class="absolute -translate-y-[100%] transition duration-300 group-hover:translate-y-0">
						{m.every_late_squid_revive()}
					</span>
				</span>
			</a>
		</div>
	</div>
</section>

<!-- animated divider -->
<section class="fadeinAnimation ~pt-6/20">
	<div
		id="animatedDivider"
		class="flex flex-nowrap items-center gap-1 overflow-hidden uppercase">
		<AnimatedDivider />
		<AnimatedDivider />
		<span></span>
		<AnimatedDivider />
		<span></span>
		<AnimatedDivider />
		<span></span>
	</div>
</section>

<!-- landing image -->
<section class="slideinAnimation flex ~pt-5/10">
	<LandingImg />
</section>
