---
import SectionHead from "@/layouts/SectionHead.astro";
import ServiceSectionAnimation from "./ServiceSectionAnimation.astro";

import * as m from "@/paraglide/messages";
---

<!-- service section -->
<section id="service" aria-describedby="serviceSectionDescription">
	<SectionHead class="sectionHeadAnimated">
		<span slot="label">/ {m.service()} /</span>
		<span slot="title">{m.minor_teal_javelina_mop()}</span>
		<p slot="description" id="serviceSectionDescription">
			{m.busy_long_coyote_succeed()}
			<br />
			<br />
			{m.awful_full_butterfly_grip()}
		</p>
	</SectionHead>

	<div class="~py-6/16">
		<div
			id="serviceSectionContainer"
			class="relative [&_.sectionHead]:border-t [&_.sectionHead]:border-muted-foreground/50">
			<ServiceSectionAnimation
				subServices={[
					m.aware_early_bison_urge(),
					m.brave_actual_orangutan_delight(),
					m.gross_crazy_wren_dazzle(),
					m.full_these_barbel_pat(),
				]}>
				<span slot="label">01</span>
				<span slot="title">{m.inner_good_warthog_seek()}</span>
				<span slot="subheader">
					{m.tough_tough_anaconda_nail()}
				</span>
				<p slot="description">
					{m.equal_full_walrus_inspire()}
					<span class="italic text-flatdarkviolet"
						>{m.tough_keen_otter_wish()}</span
					>
				</p>
			</ServiceSectionAnimation>
			<ServiceSectionAnimation
				subServices={[
					m.stale_mean_impala_shine(),
					m.vivid_wacky_thrush_earn(),
					m.caring_vexed_butterfly_boil(),
				]}>
				<span slot="label">02</span>
				<span slot="title">{m.direct_flat_badger_bump()}</span>
				<span slot="subheader">
					{m.chunky_aloof_hornet_belong()}
				</span>
				<p slot="description">
					{m.great_suave_rabbit_leap()}
				</p>
			</ServiceSectionAnimation>
			<ServiceSectionAnimation
				subServices={[
					m.odd_late_tortoise_grace(),
					m.bald_bland_toucan_drum(),
					m.spry_plane_crow_twirl(),
				]}>
				<span slot="label">03</span>
				<span slot="title">{m.big_chunky_mantis_engage()}</span>
				<span slot="subheader">{m.raw_lucky_squirrel_dart()}</span>
				<p slot="description">
					{m.key_cool_osprey_skip()}
				</p>
			</ServiceSectionAnimation>
			<ServiceSectionAnimation>
				<span slot="label">04</span>
				<span slot="title">{m.extra_lime_elephant_relish()}</span>
				<span slot="subheader">{m.good_next_bumblebee_believe()}</span>
				<p slot="description">
					{m.mushy_royal_finch_support()}
				</p>
			</ServiceSectionAnimation>
		</div>
	</div>
</section>
