---
import SectionHead from "@/layouts/SectionHead.astro";
import FAQSectionAnimation from "./FAQSectionAnimation.astro";

import * as m from "@/paraglide/messages";
import { cn } from "@/lib/utils";

const isBahasa = Astro.locals.paraglide.lang === "id";
---

<!-- faq section -->
<section id="faq" class="relative">
	<SectionHead class="gap-0 !pt-0 md:gap-0">
		<span slot="label">/ {m.faq()} /</span>
		<span slot="title">{m.short_front_felix_harbor()}</span>
		<div
			class={cn(
				"col-span-full col-start-1 row-start-2",
				!isBahasa && "lg:col-span-1 lg:col-start-3 lg:row-start-1",
				isBahasa && "xl:col-span-1 xl:col-start-3 xl:row-start-1",
			)}>
			<ul
				id="faqContainer"
				class={cn(
					"flex flex-col ~pt-8/24 lg:cursor-none [&>li:last-child]:border-b [&>li]:border-t [&>li]:border-muted-foreground/50",
					!isBahasa && "lg:pt-0",
					isBahasa && "xl:pt-0",
				)}>
				<FAQSectionAnimation>
					<span slot="label">01</span>
					<span slot="title">{m.sharp_shy_yak_flow()}</span>
					<span slot="description">{m.upper_spry_parrot_seek()}</span>
				</FAQSectionAnimation>
				<FAQSectionAnimation>
					<span slot="label">02</span>
					<span slot="title">{m.happy_formal_vole_laugh()}</span>
					<span slot="description">{m.aqua_weak_racoon_propel()}</span>
				</FAQSectionAnimation>
				<FAQSectionAnimation>
					<span slot="label">03</span>
					<span slot="title">{m.gross_misty_giraffe_trim()}</span>
					<span slot="description">{m.ok_dirty_meerkat_arise()}</span>
				</FAQSectionAnimation>
				<FAQSectionAnimation>
					<span slot="label">04</span>
					<span slot="title">{m.ornate_equal_wombat_imagine()}</span>
					<span slot="description">{m.true_stale_macaw_pride()}</span>
				</FAQSectionAnimation>
				<FAQSectionAnimation>
					<span slot="label">05</span>
					<span slot="title">{m.lost_north_earthworm_tap()}</span>
					<span slot="description">{m.brief_fun_herring_pull()}</span>
				</FAQSectionAnimation>
				<FAQSectionAnimation>
					<span slot="label">06</span>
					<span slot="title">{m.tense_blue_kestrel_climb()}</span>
					<span slot="description">{m.misty_careful_cougar_hope()}</span>
				</FAQSectionAnimation>
				<FAQSectionAnimation>
					<span slot="label">07</span>
					<span slot="title">{m.house_lucky_elephant_drip()}</span>
					<span slot="description">{m.male_dull_jaguar_grip()}</span>
				</FAQSectionAnimation>
			</ul>
		</div>
	</SectionHead>
</section>
<script>
	import gsap from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	gsap.registerPlugin(ScrollTrigger);
	gsap.defaults({
		overwrite: true,
	});
	const faqContainer = document.getElementById(
		"faqContainer",
	) as HTMLElement | null;
	const faqCursor = document.getElementById("faqCursor") as HTMLElement | null;

	faqContainer?.addEventListener(
		"mouseenter",
		(e) => {
			gsap.to(faqCursor, {
				opacity: 1,
				ease: "power3.out",
				overwrite: "auto",
			});
		},
		{
			passive: true,
		},
	);
	faqContainer?.addEventListener(
		"mouseleave",
		() => {
			gsap.to(faqCursor, {
				opacity: 0,
				ease: "power3.out",
				overwrite: "auto",
			});
		},
		{
			passive: true,
		},
	);
</script>
