---
import SectionHead from "@/layouts/SectionHead.astro";
import Check from "../../ui/Check.astro";
import ArrowRightShort from "../../ui/ArrowRightShort.astro";

import * as m from "@/paraglide/messages";
---

<section
	aria-describedby="priceSectionDescription"
	id="price"
	class="relative flex w-full flex-col items-center justify-center rounded-[20px] bg-primary text-primary-foreground md:rounded-[40px] lg:rounded-[60px] 3xl:max-w-full">
	<div id="priceSection">
		<div
			id="priceAnimationContainer"
			class="flex items-center justify-center overflow-hidden ~mt-16/52 ~py-16/52">
			<div id="priceAnimation">
				<p class="flex flex-col items-center gap-6">
					<span
						class="whitespace-nowrap text-[6vw] leading-[1] 3xl:text-[100px]"
						>{m.merry_clean_jannes_lock()}</span
					>
					<span
						class="whitespace-nowrap text-center text-[2.5vw] leading-[1.2] 3xl:text-4xl">
						{m.blue_factual_panther_buzz()}
					</span>
				</p>
			</div>
		</div>
		<SectionHead
			class="sectionHeadAnimated px-6 sm:px-12 md:px-16 3xl:max-w-[95vw]">
			<span slot="label" class="text-background/70">/ {m.pricing()} /</span>
			<span slot="title">{m.few_tangy_walrus_file()}</span>
			<p slot="description" class="text-flatgray2" id="priceSectionDescription">
				{m.neat_deft_clownfish_propel()}
			</p>
			<div class="col-span-2 col-start-1 flex ~py-6/24 lg:col-start-2">
				<div
					class="flex w-full flex-col gap-6 lg:flex-row xl:pl-[15vw] 2xl:pl-[20vw]">
					<section
						class="price flex flex-1 flex-col gap-4 rounded-xl bg-flatdeepblue px-6 py-6 lg:gap-6 lg:px-8 lg:py-16">
						<h2
							class="flex h-[50px] items-center text-lg leading-[1.4] lg:text-base lg:leading-[1.8]">
							{m.actual_great_parrot_heart()}
						</h2>
						<div class="border-t border-muted-foreground"></div>
						<ul class="space-y-2 md:space-y-3">
							<li class="flex items-center gap-2 text-primary-foreground">
								<span class="size-3 -translate-y-[2px] fill-primary-foreground">
									<Check />
								</span>
								{m.frail_spry_gadfly_quiz()}
							</li>
							<li class="flex items-center gap-2">
								<span class="size-3 -translate-y-[2px] fill-primary-foreground">
									<Check />
								</span>{m.broad_arable_herring_spin()}
							</li>
							<li class="flex items-center gap-2">
								<span class="size-3 -translate-y-[2px] fill-primary-foreground">
									<Check />
								</span>{m.arable_white_goldfish_attend()}
							</li>
							<li class="flex items-center gap-2">
								<span class="size-3 -translate-y-[2px] fill-primary-foreground">
									<Check />
								</span>{m.short_inner_parakeet_amaze()}
							</li>
							<li class="flex items-center gap-2">
								<span class="size-3 -translate-y-[2px] fill-primary-foreground">
									<Check />
								</span>{m.mushy_tiny_jaguar_gulp()}
							</li>
						</ul>
						<div class="border-t border-muted-foreground"></div>
						<p class="flex flex-none items-center justify-between">
							<span>
								$780 <span class="text-primary-foreground/50">
									{m.known_drab_snake_bloom()}</span
								>
							</span>
							<a
								href="#getstarted"
								class="group relative overflow-hidden rounded bg-primary px-4 py-3 text-primary-foreground md:px-6 md:py-5">
								<span
									class="relative z-10 duration-500 group-hover:text-primary"
									>{m.startnow()}</span
								>
								<span class="absolute inset-0 h-full overflow-hidden rounded-md"
									><span
										class="absolute left-0 aspect-square w-full origin-center -translate-x-full rounded-full bg-flatdarkblue transition-all duration-500 group-hover:-translate-x-0 group-hover:scale-150"
									></span></span
								>
							</a>
						</p>
					</section>
					<section
						class="price flex flex-1 flex-col gap-4 rounded-xl bg-card px-6 py-6 text-primary lg:gap-6 lg:px-8 lg:py-16">
						<h2
							class="flex h-[50px] items-center gap-5 whitespace-nowrap text-xl leading-[1.4] text-primary lg:text-2xl lg:leading-[1.8] xl:gap-[2vw]">
							{m.fun_upper_finch_cherish()}
							<span class="text-xs font-normal uppercase text-muted-foreground"
								>{m.known_tangy_butterfly_savor()}</span
							>
						</h2>
						<div class="border-t border-muted-foreground/50"></div>
						<div class="flex gap-12">
							<ul class="space-y-3">
								<li class="flex items-center gap-2">
									<span class="size-3 -translate-y-[2px] fill-black stroke-[3]">
										<Check />
									</span>{m.royal_stock_hamster_pick()}
								</li>
								<li class="flex items-center gap-2">
									<span class="size-3 -translate-y-[2px] fill-black stroke-[3]">
										<Check />
									</span>{m.aware_key_lemming_adapt()}
								</li>
								<li class="flex items-center gap-2">
									<span class="size-3 -translate-y-[2px] fill-black stroke-[3]">
										<Check />
									</span>{m.salty_north_fish_boost()}
								</li>
								<li class="flex items-center gap-2">
									<span class="size-3 -translate-y-[2px] fill-black stroke-[3]">
										<Check />
									</span>{m.strong_white_impala_absorb()}
								</li>
								<li class="flex items-center gap-2">
									<span class="size-3 -translate-y-[2px] fill-black stroke-[3]">
										<Check />
									</span>{m.tasty_major_flea_imagine()}
								</li>
							</ul>
						</div>
						<div class="border-t border-muted-foreground/50"></div>
						<p class="flex items-center justify-between">
							<span>
								$110.0 <span class="text-muted-foreground">
									{m.petty_cool_mare_aspire()}</span
								>
							</span>
							<a
								href="#getstarted"
								class="group relative overflow-hidden rounded bg-primary py-3 pl-3 pr-4 text-primary-foreground md:gap-3 md:py-5 md:pl-5 md:pr-6">
								<span
									class="relative z-10 flex items-center gap-1 duration-500 group-hover:text-primary">
									<span class="size-4 text-muted-foreground md:size-6"
										><ArrowRightShort /></span
									>
									<span class="mt-[2px] block">{m.startnow()}</span>
								</span>
								<span class="absolute inset-0 h-full overflow-hidden rounded-md"
									><span
										class="absolute left-0 aspect-square w-full origin-center -translate-x-full rounded-full bg-flatblue transition-all duration-500 group-hover:-translate-x-0 group-hover:scale-150"
									></span></span
								>
							</a>
						</p>
					</section>
				</div>
			</div>
		</SectionHead>
	</div>
</section>
