---
import SectionHead from "@/layouts/SectionHead.astro";
import Check from "../../ui/Check.astro";
import ArrowRightShort from "../../ui/ArrowRightShort.astro";

import * as m from "@/paraglide/messages";
import { cn } from "@/lib/utils";

const isBahasa = Astro.locals.paraglide.lang === "id";

const isHK = Astro.locals.paraglide.lang === "zh-HK";
const isTW = Astro.locals.paraglide.lang === "zh-TW";
const isCN = Astro.locals.paraglide.lang === "zh-CN";
const isZH = Astro.locals.paraglide.lang === "zh";
const isChinese = isHK || isTW || isCN || isZH;
---

<section
	aria-describedby="priceSectionDescription"
	id="price"
	class="relative flex w-full flex-col items-center justify-center rounded-[20px] bg-primary text-primary-foreground md:rounded-[40px] lg:rounded-[60px] 3xl:max-w-full">
	<div id="priceSection" class="w-full">
		<div
			id="priceAnimationContainer"
			class="flex items-center justify-center overflow-hidden ~mt-16/52 ~py-56/96">
			<div id="priceAnimation">
				<p class="flex flex-col items-center gap-6">
					<span
						class={cn(
							"whitespace-nowrap text-center",
							!isBahasa && "text-[6vw] leading-[1] 3xl:text-[100px]",
							isBahasa && "text-[4vw] leading-[1] 3xl:text-[100px]",
							isChinese && "text-[8vw] sm:text-[6vw] sm:leading-[1]",
						)}>{m.merry_clean_jannes_lock()}</span
					>
					<span
						class={cn(
							"whitespace-nowrap text-center",
							!isBahasa &&
								"text-[3.5vw] sm:text-[2.5vw] sm:leading-[1.2] 3xl:text-4xl",
							isBahasa && "text-[1.8vw] leading-[1.2] 3xl:text-2xl",
						)}>
						{m.blue_factual_panther_buzz()}
					</span>
				</p>
			</div>
		</div>
		<SectionHead
			class="sectionHeadAnimated px-6 sm:px-12 md:px-16 3xl:max-w-[95vw]">
			<span slot="label" class="text-background/70">/ {m.pricing()} /</span>
			<span slot="title">{m.few_tangy_walrus_file()}</span>
			<p slot="description" class="text-flatgray2" id="priceSectionDescription">
				{m.neat_deft_clownfish_propel()}
			</p>
			<div
				class={cn(
					"col-span-2 col-start-1 flex ~py-6/24",
					!isBahasa && "lg:col-start-2",
					isBahasa && "xl:col-start-2",
				)}>
				<div
					class="flex w-full flex-col gap-6 lg:flex-row xl:pl-[15vw] 2xl:pl-[20vw]">
					<section
						id="oneOffPurchase"
						class="price flex flex-1 flex-col gap-4 rounded-xl bg-flatdeepblue px-6 py-6 lg:gap-6 lg:px-8 lg:py-16">
						<h2
							class="flex h-[50px] items-center text-xl leading-[1.4] lg:text-2xl lg:leading-[1.8]">
							{m.actual_great_parrot_heart()}
						</h2>
						<div class="border-t border-muted-foreground"></div>
						<ul class="flex flex-col gap-2 md:gap-3">
							<li class="flex items-center gap-2 text-primary-foreground">
								<span
									class={cn(
										"size-3 -translate-y-[2px] fill-primary-foreground",
										isChinese && "translate-y-0",
									)}>
									<Check />
								</span>
								{m.frail_spry_gadfly_quiz()}
							</li>
							<li class="flex items-center gap-2">
								<span
									class={cn(
										"size-3 -translate-y-[2px] fill-primary-foreground",
										isChinese && "translate-y-0",
									)}>
									<Check />
								</span>{m.broad_arable_herring_spin()}
							</li>
							<li class="flex items-center gap-2">
								<span
									class={cn(
										"size-3 -translate-y-[2px] fill-primary-foreground",
										isChinese && "translate-y-0",
									)}>
									<Check />
								</span>{m.arable_white_goldfish_attend()}
							</li>
							<li class="flex items-center gap-2">
								<span
									class={cn(
										"size-3 -translate-y-[2px] fill-primary-foreground",
										isChinese && "translate-y-0",
									)}>
									<Check />
								</span>{m.short_inner_parakeet_amaze()}
							</li>
							<li class="flex items-center gap-2">
								<span
									class={cn(
										"size-3 -translate-y-[2px] fill-primary-foreground",
										isChinese && "translate-y-0",
									)}>
									<Check />
								</span>{m.mushy_tiny_jaguar_gulp()}
							</li>
						</ul>
						<div class="border-t border-muted-foreground"></div>
						<p class="flex items-center justify-end">
							<!-- <span>
								$780 <span class="text-primary-foreground/50">
									{m.known_drab_snake_bloom()}</span
								>
							</span> -->
							<a
								data-umami-event="Price one-off"
								href="#getstarted"
								class="group relative overflow-hidden whitespace-nowrap rounded bg-primary px-4 py-3 text-primary-foreground md:px-6 md:py-5">
								<span
									class="relative z-10 duration-500 group-hover:text-primary"
									>{m.startnow()}</span
								>
								<span
									class="absolute left-0 top-0 size-full overflow-hidden rounded-md"
									><span
										class="absolute left-0 aspect-square w-full origin-center -translate-x-full rounded-full bg-flatdarkblue transition-all duration-500 group-hover:-translate-x-0 group-hover:scale-150"
									></span></span
								>
							</a>
						</p>
					</section>
					<section
						id="monthlySubscription"
						class="price flex flex-1 flex-col gap-4 rounded-xl bg-card px-6 py-6 text-primary lg:gap-6 lg:px-8 lg:py-16">
						<h2
							class="flex h-[50px] items-center gap-5 whitespace-nowrap text-xl leading-[1.4] text-primary lg:text-2xl lg:leading-[1.8] xl:gap-[2vw]">
							{m.fun_upper_finch_cherish()}
							<span
								class={cn(
									"text-xs font-normal uppercase text-muted-foreground",
									isChinese && "text-sm",
								)}>{m.known_tangy_butterfly_savor()}</span
							>
						</h2>
						<div class="border-t border-muted-foreground/50"></div>
						<div class="flex gap-12">
							<ul class="flex flex-col gap-2 md:gap-3">
								<li class="flex items-center gap-2">
									<span
										class={cn(
											"size-3 -translate-y-[2px] stroke-[3]",
											isChinese && "translate-y-0",
										)}>
										<Check />
									</span>{m.royal_stock_hamster_pick()}
								</li>
								<li class="flex items-center gap-2">
									<span
										class={cn(
											"size-3 -translate-y-[2px] stroke-[3]",
											isChinese && "translate-y-0",
										)}>
										<Check />
									</span>{m.aware_key_lemming_adapt()}
								</li>
								<li class="flex items-center gap-2">
									<span
										class={cn(
											"size-3 -translate-y-[2px] stroke-[3]",
											isChinese && "translate-y-0",
										)}>
										<Check />
									</span>{m.salty_north_fish_boost()}
								</li>
								<li class="flex items-center gap-2">
									<span
										class={cn(
											"size-3 -translate-y-[2px] stroke-[3]",
											isChinese && "translate-y-0",
										)}>
										<Check />
									</span>{m.strong_white_impala_absorb()}
								</li>
								<li class="flex items-center gap-2">
									<span
										class={cn(
											"size-3 -translate-y-[2px] stroke-[3]",
											isChinese && "translate-y-0",
										)}>
										<Check />
									</span>{m.tasty_major_flea_imagine()}
								</li>
							</ul>
						</div>
						<div class="border-t border-muted-foreground/50"></div>
						<p class="flex items-center justify-end">
							<!-- <span>
								$110.0 <span class="text-muted-foreground">
									{m.petty_cool_mare_aspire()}</span
								>
							</span> -->
							<a
								data-umami-event="Price subscription"
								href="#getstarted"
								class="group relative overflow-hidden whitespace-nowrap rounded bg-primary py-3 pl-3 pr-4 text-primary-foreground md:gap-3 md:py-5 md:pl-5 md:pr-6">
								<span
									class="relative z-10 flex items-center gap-1 duration-500 group-hover:text-primary">
									<span class="size-4 text-muted-foreground md:size-6"
										><ArrowRightShort /></span
									>
									<span class={cn("mt-[2px] block", isChinese && "mt-0")}
										>{m.startnow()}</span
									>
								</span>
								<span
									class="absolute left-0 top-0 size-full overflow-hidden rounded-md"
									><span
										class="absolute left-0 aspect-square w-full origin-center -translate-x-full rounded-full bg-flatblue transition-all duration-500 group-hover:-translate-x-0 group-hover:scale-150"
									></span></span
								>
							</a>
						</p>
					</section>
				</div>
			</div>
		</SectionHead>
	</div>
</section>
